@tailwind base;
@tailwind components;
@tailwind utilities;


.cartts{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.totelprice{
    display: flex;
    background-color: rgb(229, 199, 155);
    padding: 10px;
}
.cartts button{
    height: 50px;
    width: 150px;
}